/* Google Fonts Import Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root {
  --primary-color: #00bc8b;
  --secondary-color: #f3be00;
  --accent-color: #ff5252;
  --blue: #037bff;
  --white: #fff;
  --black: #000;
  --primary-font: "Poppins";
}

/* progress tab start */

.progress-user-tabs {
  padding: 0px 20px 0px 30px;
}

.nav-item .nav-link {
  position: relative;
  /* background-color: rgba(20, 68, 146, 0.8); */
  color: var(--blue) !important;
  font-family: var(--primary-font) !important;
  font-weight: 500 !important;
  margin-right: 0;
  padding-right: 20px;
  border-radius: 0 !important;
  border: none !important;
  clip-path: polygon(0% 0%, 90% 0, 95% 51%, 100% 100%, 0% 100%) !important;
  z-index: 0;
}

.border {
  position: absolute;
  top: 1px;
  left: 1px;
  right: 0px;
  bottom: 1px;
  clip-path: polygon(0% 0%, 90% 0, 95% 51%, 100% 100%, 0% 100%) !important;
  z-index: 1;
}

.nav-item .nav-link.active {
  background-color: #144492 !important;
  color: var(--white) !important;
  clip-path: polygon(0% 0%, 90% 0, 95% 51%, 100% 100%, 0% 100%) !important;
}

.progress_member_btn {
  text-align: end;
}

.progress_member_btn a {
  text-decoration: none;
  height: 45px;
  line-height: 45px;
  text-align: center;
  padding: 0 20px;
  display: inline-block;
  background-color: var(--blue);
  border-radius: 5px;
  color: var(--white);
}

.manage-btn {
  justify-content: end !important;
  text-align: right !important;
}

.manage-btn button {
  background-color: var(--blue);
  color: var(--white);
  font-size: 18px;
  padding: 6px 20px;
  border: none;
  border-radius: 5px;
}

.breadcrumb-item a {
  text-decoration: none;
  color: var(--blue);
}

/* prgress table */

.progress_table_user {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.table td {
  vertical-align: middle;
  padding: 15px 0px !important;
}

.progress_table_user div {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 15px;
}

.progress_table_user div img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.progress_table_bar {
  width: 70px;
  height: 42px;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 0.9em;
  color: #696969;
  border-radius: 30px;
  background-color: #edf3fd;
  overflow: hidden;
  position: relative;
  z-index: 1;
  margin-bottom: -5px;
}

.progress_table_bar div.one {
  width: 20%;
  color: var(--white);
  height: 100%;
  background: var(--primary-color);
  z-index: 111;
  position: relative;
}
.progress_table_bar div.two {
  width: 40%;
  color: var(--white);
  height: 100%;
  background: var(--primary-color);
  z-index: 111;
  position: relative;
}
.progress_table_bar div.three {
  width: 60%;
  color: var(--white);
  height: 100%;
  background: var(--primary-color);
  z-index: 111;
  position: relative;
}
.progress_table_bar div.four {
  width: 80%;
  color: var(--white);
  height: 100%;
  background: var(--primary-color);
  z-index: 111;
  position: relative;
}
.progress_table_bar div.five {
  width: 100%;
  color: var(--white);
  height: 100%;
  background: var(--primary-color);
  z-index: 111;
  position: relative;
}

.progress_table_bar span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999 !important;
}

.table-head td {
  color: rgba(30, 39, 73, 0.8) !important;
  font-weight: 500;
  font-size: 16px;
}

.progress_table_user td {
  color: rgba(30, 39, 73, 0.7) !important;
}
/* progress tab start */
